<h1>New review</h1>
<%= simple_form_for @review, url: restaurant_reviews_path(@review.restaurant) do |f| %>
  <%= f.input :content, required: true%>
  <%= f.input :rating, required: true%>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>
